<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lynnwork.sobblogsystem.mapper.SettingMapper">
    <select id="selectByKey" parameterType="string" resultType="com.lynnwork.sobblogsystem.pojo.Setting">
        select id, `key`, `value`, create_time, update_time
        from tb_setting
        where `key` = #{key}
    </select>
</mapper>
